In [1]:
import pandas as pd
import numpy as np
from pulp import *

### k-nearest p-median

In [6]:
# import data
time_df = pd.read_csv("data/example_subject_student_school_journeys.csv")
students_df = pd.read_csv("data/example_subject_students.csv")
schools_df = pd.read_csv("data/example_subject_schools.csv")

The first step is to create a new dataframe that only contains the k nearest client-facility pairs from the given dataframe.

In [4]:
def k_smallest_from_distance_table(
    travel_times, client_name, cost_column, facility_name, k
):
    """
    Given a table of travel times with columns "client", "facility", and "cost",
    make a new DataFrame that contains only the `k` lowest-cost client-facility pairs.
    """
    k_per_client = (
        travel_times.groupby(client_name)[  # for each client
            cost_column
        ]  # look at their "cost" column
        .nsmallest(k)  # and keep the "k" rows with the smallest cost
        .reset_index()  # and reset the index from the groupby
    )
    k_per_client["facility"] = travel_times.loc[
        k_per_client[
            "level_1"
        ],  # look at each row using the row number from the groupby
        facility_name,  # and find the corresponding facility
    ].values  # and ignore the index on the DataFrame
    return k_per_client.drop(
        "level_1", axis=1
    )  # drop the row number column from the groupby

In [8]:
new_time_df = k_smallest_from_distance_table(time_df, "student", "time", "school", 5)
new_time_df

    student  time  facility
0         2    53  IOE01599
1         2    55  IOE01009
2         2    56  IOE01595
3         2    59  IOE00739
4         2    60  IOE01586
5         4    18  IOE01062
6         4    46  IOE00867
7         4    48  IOE00863
8         4    49  IOE00869
9         4    55  IOE01013
10        7     8  IOE00128
11        7     8  IOE00471
12        7    13  IOE00460
13        7    15  IOE00452
14        7    15  IOE00454
15        9   130  IOE00044
16        9   147  IOE00352
17        9   151  IOE00812
18        9   152  IOE00753
19        9   153  IOE00553
20       13    83  IOE00172
21       13    83  IOE00509
22       13    85  IOE01223
23       13    88  IOE00506
24       13    92  IOE00553
25       14    39  IOE01595
26       14    42  IOE00045
27       14    50  IOE00538
28       14    50  IOE01586
29       14    52  IOE00044
30       22    78  IOE01009
31       22    81  IOE01013
32       22    86  IOE00739
33       22    90  IOE01839
34       22    93  IOE00740
35       25   102  IOE00812
36       25   108  IOE00818
37       25   116  IOE00506
38       25   117  IOE00348
39       25   117  IOE00813
40       35    79  IOE01062
41       35    80  IOE01406
42       35    82  IOE00867
43       35    82  IOE00869
44       35    86  IOE00863
45       41    96  IOE01839
46       41   101  IOE00863
47       41   108  IOE00867
48       41   109  IOE00538
49       41   110  IOE00869

In [10]:
# get the array of new distance matrix from new dataframe
time_array = (
    new_time_df.pivot_table(
        columns="facility",
        fill_value=10000,
        index="student",
        sort=False,
        values="time",
    )
    .astype(int)
    .values
)
time_array[:5]

array([[10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000,
        10000, 10000, 10000, 10000, 10000,    59, 10000, 10000, 10000,
        10000, 10000, 10000, 10000, 10000,    55, 10000, 10000, 10000,
        10000,    60,    56,    53, 10000],
       [10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000,
        10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000,
        10000, 10000,    48,    46,    49, 10000,    55,    18, 10000,
        10000, 10000, 10000, 10000, 10000],
       [10000, 10000,     8, 10000, 10000, 10000,    15,    15,    13,
            8, 10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000,
        10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000,
        10000, 10000, 10000, 10000, 10000],
       [  130, 10000, 10000, 10000, 10000,   147, 10000, 10000, 10000,
        10000, 10000, 10000, 10000,   153, 10000, 10000,   152,   151,
        10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000,
        10000, 10000, 10000, 10000, 10000],
       [10000, 10000, 10000,    83, 10000, 10000, 10000, 10000, 10000,
        10000,    88,    83, 10000,    92, 10000, 10000, 10000, 10000,
        10000, 10000, 10000, 10000, 10000, 10000, 10000, 10000,    85,
        10000, 10000, 10000, 10000, 10000]])

The second step is to prepare the k-nearest dataframe suitable for the p-median model.   

We need to create new indexes for client and facilities, and add the capacity information from facility dataframe.

In [14]:
student_indices = range(new_time_df["student"].nunique())
student_indices

range(0, 10)

In [15]:
school_indices = range(new_time_df["facility"].nunique())
school_indices

range(0, 32)

In [16]:
# create new index for school/facility, according to their order, and this index is the same with
# that of the array 'time_array' we just created
# to do so, we can easily refer to them in the p-median model
new_time_df["school_new_index"] = (
    new_time_df["facility"].rank(method="dense").astype(int) - 1
)
new_time_df

    student  time  facility  school_new_index
0         2    53  IOE01599                30
1         2    55  IOE01009                23
2         2    56  IOE01595                29
3         2    59  IOE00739                14
4         2    60  IOE01586                28
5         4    18  IOE01062                25
6         4    46  IOE00867                21
7         4    48  IOE00863                20
8         4    49  IOE00869                22
9         4    55  IOE01013                24
10        7     8  IOE00128                 2
11        7     8  IOE00471                 9
12        7    13  IOE00460                 8
13        7    15  IOE00452                 6
14        7    15  IOE00454                 7
15        9   130  IOE00044                 0
16        9   147  IOE00352                 5
17        9   151  IOE00812                17
18        9   152  IOE00753                16
19        9   153  IOE00553                13
20       13    83  IOE00172                 3
21       13    83  IOE00509                11
22       13    85  IOE01223                26
23       13    88  IOE00506                10
24       13    92  IOE00553                13
25       14    39  IOE01595                29
26       14    42  IOE00045                 1
27       14    50  IOE00538                12
28       14    50  IOE01586                28
29       14    52  IOE00044                 0
30       22    78  IOE01009                23
31       22    81  IOE01013                24
32       22    86  IOE00739                14
33       22    90  IOE01839                31
34       22    93  IOE00740                15
35       25   102  IOE00812                17
36       25   108  IOE00818                19
37       25   116  IOE00506                10
38       25   117  IOE00348                 4
39       25   117  IOE00813                18
40       35    79  IOE01062                25
41       35    80  IOE01406                27
42       35    82  IOE00867                21
43       35    82  IOE00869                22
44       35    86  IOE00863                20
45       41    96  IOE01839                31
46       41   101  IOE00863                20
47       41   108  IOE00867                21
48       41   109  IOE00538                12
49       41   110  IOE00869                22

In [17]:
# also the new student index
new_time_df["student_new_index"] = (
    new_time_df["student"].rank(method="dense").astype(int) - 1
)
new_time_df

    student  time  facility  school_new_index  student_new_index
0         2    53  IOE01599                30                  0
1         2    55  IOE01009                23                  0
2         2    56  IOE01595                29                  0
3         2    59  IOE00739                14                  0
4         2    60  IOE01586                28                  0
5         4    18  IOE01062                25                  1
6         4    46  IOE00867                21                  1
7         4    48  IOE00863                20                  1
8         4    49  IOE00869                22                  1
9         4    55  IOE01013                24                  1
10        7     8  IOE00128                 2                  2
11        7     8  IOE00471                 9                  2
12        7    13  IOE00460                 8                  2
13        7    15  IOE00452                 6                  2
14        7    15  IOE00454                 7                  2
15        9   130  IOE00044                 0                  3
16        9   147  IOE00352                 5                  3
17        9   151  IOE00812                17                  3
18        9   152  IOE00753                16                  3
19        9   153  IOE00553                13                  3
20       13    83  IOE00172                 3                  4
21       13    83  IOE00509                11                  4
22       13    85  IOE01223                26                  4
23       13    88  IOE00506                10                  4
24       13    92  IOE00553                13                  4
25       14    39  IOE01595                29                  5
26       14    42  IOE00045                 1                  5
27       14    50  IOE00538                12                  5
28       14    50  IOE01586                28                  5
29       14    52  IOE00044                 0                  5
30       22    78  IOE01009                23                  6
31       22    81  IOE01013                24                  6
32       22    86  IOE00739                14                  6
33       22    90  IOE01839                31                  6
34       22    93  IOE00740                15                  6
35       25   102  IOE00812                17                  7
36       25   108  IOE00818                19                  7
37       25   116  IOE00506                10                  7
38       25   117  IOE00348                 4                  7
39       25   117  IOE00813                18                  7
40       35    79  IOE01062                25                  8
41       35    80  IOE01406                27                  8
42       35    82  IOE00867                21                  8
43       35    82  IOE00869                22                  8
44       35    86  IOE00863                20                  8
45       41    96  IOE01839                31                  9
46       41   101  IOE00863                20                  9
47       41   108  IOE00867                21                  9
48       41   109  IOE00538                12                  9
49       41   110  IOE00869                22                  9

In [30]:
# in this model, we considerate the existence of capacity, so we add it from the 'schools_df'
new_time_df = new_time_df.merge(
    schools_df[["SE2 PP: Code", "Count"]],
    left_on="facility",
    right_on="SE2 PP: Code",
    how="left",
)
new_time_df

,student,time,facility,school_new_index,student_new_index,SE2 PP: Code,Count
0,2,53,IOE01599,30,0,IOE01599,1
1,2,55,IOE01009,23,0,IOE01009,1
2,2,56,IOE01595,29,0,IOE01595,1
3,2,59,IOE00739,14,0,IOE00739,1
4,2,60,IOE01586,28,0,IOE01586,2
5,4,18,IOE01062,25,1,IOE01062,1
6,4,46,IOE00867,21,1,IOE00867,2
7,4,48,IOE00863,20,1,IOE00863,1
8,4,49,IOE00869,22,1,IOE00869,1
9,4,55,IOE01013,24,1,IOE01013,1
10,7,8,IOE00128,2,2,IOE00128,1
11,7,8,IOE00471,9,2,IOE00471,1
12,7,13,IOE00460,8,2,IOE00460,1
13,7,15,IOE00452,6,2,IOE00452,1
14,7,15,IOE00454,7,2,IOE00454,2
15,9,130,IOE00044,0,3,IOE00044,1
16,9,147,IOE00352,5,3,IOE00352,1
17,9,151,IOE00812,17,3,IOE00812,1
18,9,152,IOE00753,16,3,IOE00753,1
19,9,153,IOE00553,13,3,IOE00553,1
20,13,83,IOE00172,3,4,IOE00172,1
21,13,83,IOE00509,11,4,IOE00509,3
22,13,85,IOE01223,26,4,IOE01223,1
23,13,88,IOE00506,10,4,IOE00506,1
24,13,92,IOE00553,13,4,IOE00553,1
25,14,39,IOE01595,29,5,IOE01595,1
26,14,42,IOE00045,1,5,IOE00045,1
27,14,50,IOE00538,12,5,IOE00538,1
28,14,50,IOE01586,28,5,IOE01586,2
29,14,52,IOE00044,0,5,IOE00044,1
30,22,78,IOE01009,23,6,IOE01009,1
31,22,81,IOE01013,24,6,IOE01013,1
32,22,86,IOE00739,14,6,IOE00739,1
33,22,90,IOE01839,31,6,IOE01839,1
34,22,93,IOE00740,15,6,IOE00740,1
35,25,102,IOE00812,17,7,IOE00812,1
36,25,108,IOE00818,19,7,IOE00818,1
37,25,116,IOE00506,10,7,IOE00506,1
38,25,117,IOE00348,4,7,IOE00348,1
39,25,117,IOE00813,18,7,IOE00813,1
40,35,79,IOE01062,25,8,IOE01062,1
41,35,80,IOE01406,27,8,IOE01406,2
42,35,82,IOE00867,21,8,IOE00867,2
43,35,82,IOE00869,22,8,IOE00869,1
44,35,86,IOE00863,20,8,IOE00863,1
45,41,96,IOE01839,31,9,IOE01839,1
46,41,101,IOE00863,20,9,IOE00863,1
47,41,108,IOE00867,21,9,IOE00867,2
48,41,109,IOE00538,12,9,IOE00538,1
49,41,110,IOE00869,22,9,IOE00869,1

Now the data has been prepared well.

In [33]:
def setup_from_travel_table(distance_df):
    """
    Using the distance dataframe we prepared
    to write a function that sets up the k-nearest p-median problem. 
    """
    # convert the dataframe to the 2D array
    time_array = (
    distance_df.pivot_table(
        columns="facility",
        fill_value=10000,
        index="student",
        sort=False,
        values="time",
    )
    .astype(int)
    .values
    )

    # set up the problem
    problem = pulp.LpProblem("k-nearest-p-median", LpMinimize)

    decision = LpVariable.dicts(
        "x",
        (
            (row["student_new_index"], row["school_new_index"])
            for _, row in distance_df.iterrows()
        ),
        0,
        1,
        LpBinary,
    )

    objective = pulp.lpSum(
        pulp.lpSum(decision.get((i, j), 0) * time_array[i, j] for j in school_indices)
        for i in student_indices
    )
    problem += objective

    # 1. Each client is assigned to a facility
    for i in student_indices:
        problem += pulp.lpSum(decision.get((i, j), 0) for j in school_indices) == 1

    # 2. Demand value the facility can serve is no more than its capacity.
    for j in school_indices:
        count = distance_df.loc[distance_df["school_new_index"] == j, "Count"].values[0]
        problem += pulp.lpSum(decision.get((i, j), 0) for i in student_indices) <= count

    problem.solve(pulp.PULP_CBC_CMD(msg=False))

    return problem, decision

In [34]:
prob, prob_decision = setup_from_travel_table(new_time_df)

In [36]:
# check if the decision variable is correct
prob_decision

{(0, 30): x_(0,_30),
 (0, 23): x_(0,_23),
 (0, 29): x_(0,_29),
 (0, 14): x_(0,_14),
 (0, 28): x_(0,_28),
 (1, 25): x_(1,_25),
 (1, 21): x_(1,_21),
 (1, 20): x_(1,_20),
 (1, 22): x_(1,_22),
 (1, 24): x_(1,_24),
 (2, 2): x_(2,_2),
 (2, 9): x_(2,_9),
 (2, 8): x_(2,_8),
 (2, 6): x_(2,_6),
 (2, 7): x_(2,_7),
 (3, 0): x_(3,_0),
 (3, 5): x_(3,_5),
 (3, 17): x_(3,_17),
 (3, 16): x_(3,_16),
 (3, 13): x_(3,_13),
 (4, 3): x_(4,_3),
 (4, 11): x_(4,_11),
 (4, 26): x_(4,_26),
 (4, 10): x_(4,_10),
 (4, 13): x_(4,_13),
 (5, 29): x_(5,_29),
 (5, 1): x_(5,_1),
 (5, 12): x_(5,_12),
 (5, 28): x_(5,_28),
 (5, 0): x_(5,_0),
 (6, 23): x_(6,_23),
 (6, 24): x_(6,_24),
 (6, 14): x_(6,_14),
 (6, 31): x_(6,_31),
 (6, 15): x_(6,_15),
 (7, 17): x_(7,_17),
 (7, 19): x_(7,_19),
 (7, 10): x_(7,_10),
 (7, 4): x_(7,_4),
 (7, 18): x_(7,_18),
 (8, 25): x_(8,_25),
 (8, 27): x_(8,_27),
 (8, 21): x_(8,_21),
 (8, 22): x_(8,_22),
 (8, 20): x_(8,_20),
 (9, 31): x_(9,_31),
 (9, 20): x_(9,_20),
 (9, 21): x_(9,_21),
 (9, 12): x_(9,_12),
 (9, 22): x_(9,_22)}

In [35]:
for i in student_indices:
    for j in school_indices:
        if (i, j) in prob_decision and prob_decision[(i, j)].value() == 1:
            print("student " + str(i) + " is served by school " + str(j))

student 0 is served by school 30
student 1 is served by school 25
student 2 is served by school 2
student 3 is served by school 0
student 4 is served by school 11
student 5 is served by school 29
student 6 is served by school 23
student 7 is served by school 17
student 8 is served by school 27
student 9 is served by school 31